@{
    ViewBag.Title = "Under Construction";
}

<div class="item">
    <h2>Under Construction</h2>
    <p>We're still working on it. Please come back later.</p>

    <div style="text-align:center">
        <img src="@Url.Content("~/Content/Images/UnderConstruction.jpg")" alt="Under Construction" />
    </div>
</div>