@model Rosier.Blog.Model.BlogEntry

<div class="article">
    <div class="head">
        <a href=""><h1>@Model.Title</h1></a>
        <div class="article-info"><span>@Model.CreationDate.ToString("d MMMM yyyy")</span>
        <span>Posted in</span><a href="" class="tag">C#</a><span>|</span><a href="" class="tag">.NET</a><span>|</span><a href="" class="tag">Design</a><a href="" class="comments">Comments (2)</a>
        </div>
    </div>
    <div class="content">
        @Model.Content
    </div>
</div>