@page
@model Rosier.Blog.Web.Pages.Blog.IndexModel
@{
    ViewData["Title"] = "Blog";
}

@foreach(var entry in Model.Entries)
{
<div>
    <div>
        <div>@entry.Title</div>
        <div>@entry.CreationDate @entry.Author</div>
    </div>
    <div>
        @entry.Content
    </div>
</div>
}
